body{
    background-image: url('https://i.gifer.com/4NB4.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding:0;
    margin:0;
}

.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    animation: flip 4s infinite;
    animation-delay: calc(.4s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

.form-control::placeholder { 
    color: white;
    opacity: 0.8; 
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -moz-appearance:    none;
   appearance:         none
}